.fold{
  position: relative;
  z-index: 1;
  background: black;

  &:before{
    content:'';
    background: url('/images/colour-of-nature-fractal.jpg') repeat center center black;
    //background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    //opacity: 0.06;
    z-index: -1;
    -webkit-animation: backgroundZoom 60s infinite ease-in-out;
  }

  .page__inner{
    position: relative;
  }
}