.fold{
  position: relative;
  z-index: 1;
  background: black;
  overflow: hidden;

  &:before{
    content:'';
    background: url('/images/bg-abstr.jpg') repeat center center black;
    //background-attachment: fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    //opacity: 0.06;
    z-index: -1;
    -webkit-animation: backgroundZoom 60s infinite ease-in-out;
  }

  .page__inner{
    position: relative;

    h1,
    p{
      color: $text-primary-alt;
      -webkit-animation: zoomFromZero 10s 1 ease-in-out;
    }

    h1{
      margin-top: 12%;
      text-align: center;
      font-size: 79px;
      font-weight: 100;
      line-height: 1.6;
      //-webkit-animation: backgroundZoom 120s infinite ease-in-out;



      span.green{
        text-shadow: 0 0 8px $green;
      }
    }

    p{
      text-align: center;
      opacity: 0.3;
      font-weight: 200;
      //-webkit-animation: backgroundZoom 240s infinite ease-in-out;
    }
  }
}