<div class="page fold">
    <a name="fold"></a>
    <div class="page__inner">
        <h1>I write <span class="green">Javascript</span></h1>
        <p>The portfolio of Front End Developer Adam Gedney</p>
    </div>
</div>