//===========================//
// Base Colors (For brand specific theming)
//===========================//
$red : #D93330;
$orange : #DF7F3D;
$yellow : #EDD832;
$green : #1E7B8D;
$blue : #2D72B8;
$greyBlue : #565F68;
$purple : #3f3685;
$darkPurple : #201A23;
$brown : #5D5D5C;
$black : #0A0A0A;
$grey : #B0B3AB;
$white : #F6FEFF;


//===========================//
// General
//===========================//
$go: $green;
$warning: $yellow;
$danger: $red;

$icon : #4e5961;
$icon-secondary : lighten($icon,10%);



//===========================//
// Backgrounds
//===========================//
$bg : $white;
$bg-alt : $black;



//===========================//
// Links
//===========================//
$link: $blue;
$link-visited: darken($link,10%);
$link-hover: darken($link,20%);
$link-active: darken($link,30%);



//===========================//
// Type
//===========================//
$text: $black;
$text-primary: darken($text,10%);
$text_secondary: darken($text,20%);
$text-tertiary: darken($text,30%);

$text-alt : $white;
$text-primary-alt: darken($text-alt,5%);
$text-secondary-alt: darken($text-alt,10%);
$text-tertiary-alt: darken($text-alt,15%);

$h-text-primary: $black;
$h-text-secondary: lighten($h-text-primary,10%);

$text-standout : $red;



//===========================//
// Borders
//===========================//
$border: rgba(0,0,0,0.07);
$border-primary: darken($border,5%);
$border-secondary: darken($border,10%);
$border-tertiary: darken($border,15%);



//===========================//
// Buttons
//===========================//
$button: $blue;



//===========================//
// Classes
//===========================//
.red{color: $red; }
.orange{color: $orange;}
.yellow{color:$yellow;}
.green{color: $green;}
.blue{color: $blue;}
.greyBlue{color: $greyBlue;}
.purple{color: $purple;}
.darkPurple{color: $darkPurple;}
.brown{color: $brown;}
.black{color: $black;}
.grey{color: $grey;}
.white{color: $white;}