<div class="page work">
    <a name="work"></a>
    <div class="page__inner">
        <h2>What Does My Work Look Like?</h2>
        <div class="timeline__container">
            <ul>
                <li class="timeline__item">
                    <span class="timeline__itemHeading">WORK</span>
                </li>
                {{#each projects as |project|}}
                    <li class="timeline__item" style="background-image: url({{project.featuredImage}});">
                        <a href="#">
                            <span class="timeline__itemTitle">{{project.title}}</span>
                        </a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>