div header{
  height: 45px;
  //background: $bg-alt;
  @extend .cf;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 36px;
  z-index: 2;
  overflow: hidden;

  h1{
	float: left;
	line-height: 45px;
	margin: 0;
	color: $text-primary-alt;
	font-weight: 100;
	text-indent: -999999px;
  }

  .profile{
	text-align: center;
	border-radius: 50%;
	max-height: 33px;
	margin: 8px 0 0;
	display: block;
	-webkit-animation: zoomFromZero 6s 1 ease-in-out;
	float: left;
  }

  nav{
	text-align: center;

	ul{
	  li{
		display: inline-block;
		padding: 0 18px;

		a{
		  line-height: 45px;
		  color: $text-primary-alt;
		  text-decoration: none;
		  font-weight: 100;
		  text-shadow: 2px 2px 2px black;

		  &:hover{
			@extend .hover;
		  }
		}
	  }
	}
  }
}
