<header>
    <a href="#fold"><img class="profile" src="/images/profile.jpg" alt="Profile Image" /></a>
    <nav>
        <ul>
            {{#each menuItems as |item|}}
                <li><a href="{{item.href}}" title="{{item.text}}">{{item.text}}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>