<div class="page contact">
    <a name="contact"></a>
    <div class="page__inner">
        <h2>Contact Me</h2>

        <div class="contact__videoWrapper">
            <iframe id="contact__videoBG" width="560" height="315" src="https://www.youtube.com/embed/eGD-5jYR9jk?autoplay=1&controls=0&iv_load_policy=3&loop=1&modestbranding=1&rel=0&showinfo=0&enablejsapi=1" frameborder="0" volume="0" allowfullscreen></iframe>
        </div>
    </div>
</div>