footer{
  height: 90px;
  background: $bg-alt;
  @extend .cf;

  nav{
	margin: 0 auto;

	ul{
	 width: 157px;
	  margin: 0 auto;

	  //@include break(sm){
		//@include col(12);
		//@include col_ctr(12);
	  //}

	  li{
		display: inline-block;
		//margin-right: 9px;
		line-height: 90px;
		color: $text-primary-alt;
		text-decoration: none;

		@include break(sm){
		  display: none;
		}

		&:last-of-type{
		  @include break(sm){
			display: block;
			text-align: center;
		  }
		}

		a{
		  line-height: 90px;
		  color: $text-primary-alt;
		  text-decoration: none;
		  text-align: center;
		}
	  }
	}
  }
}
