<div class="subscribe-form__container">

    <div id="js-thank-you-message" class="animated thank-you-message">
        <h1>Thanks for subscribing!</h1>
        <span>You will receive an Orthodox Christian quotation every day at around midnight EST (If all goes well). In the meantime, please feel free to scroll and search for quotes. God bless and please keep me & my wife Julie in your prayers.</span>
        <p>Adam :)</p>
    </div>


    <div id="js-primary-cta" class="primary-cta animated fadeInDownBig">
        <span>Subscribe to the FREE...</span>
        <h1>Orthodox Quote of the Day</h1>
    </div>

    <form action="#" id="js-subscribe-form" class="subscribe-form cf">
        <input autofocus class="animated fadeInLeftBig" type="email" id="email" placeholder="Enter your email address here"/>
        <input class="animated fadeInRightBig" id="js-human-subscribe" type="submit" value="subscribe" />
    </form>

    <div id="js-is-human" class="is-human animated fadeInLeftBig">
        <img src="images/human.jpg" alt="Are you real?"/>
        <h3>I need to verify that you're human and not a robot.</h3>
        <form action="#" class="human-form cf">
            <input class="animated" type="text" id="human" placeholder="Please type the word in the picture here."/>
            <input class="" id="js-subscribe" type="submit" value="verify" />
        </form>
    </div>

    <p id="js-sub-subscribe-text" class="sub-subscribe-text animated fadeInUpBig"><span class="est">Est. 2007 – </span>Over 1,300 Orthodox Christian laymen, monastics, and clergy receive these short, edifying Orthodox Christian quotes from the Fathers everyday in their inbox. Sign up. They're completely free.</p>
    <p class="sub-subscribe-text sub-subscribe-text__quote animated fadeInUpBig">So, read the Fathers, even one or two lines a day. They are very strengthening vitamins for the soul.<br /><span class="sub-subscribe-text__quote--name">St. Paisios</span></p>
</div>
