/* ======================================= */
/* Utility classes */
/* ======================================= */

.truncate{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


// Calculate em letter-spacing from print spec tracking values
@mixin tracking($amt: 75){
	$tracking : $amt / 1000;
  	letter-spacing: $tracking + em !important;
}

// Photoshop pt to css px
@mixin fontSizePt2Px($pt: 12,$ppi:72){
  $a : $pt / $ppi;
  $b : $a * 96;// 96 = dpi of computer displays
  font-size: $b + px ;
}


//@include aspect-ratio(16,9);
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: ($height / $width) * 100%;
  }
  > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  }
}

.hover{
  opacity: 0.6;
  cursor: pointer;
}

.bold{
  font-weight: 700;
}

.small{
  font-size: 10px;
}

/*
* Makes a ghost button
*/
@mixin ghostButton($color,$radius,$padX,$padY){
  border: 1px solid $color;
  border-radius: $radius;
  color: $color;
  padding: $padY $padX;
}


/*
* Fades a color down to transparent from top
*/
@mixin fadeColorTopDown($color:black){
  height: 49%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(top,  $color 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $color 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $color 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}


/*
* Fades a color up to transparent from bottom
*/
@mixin fadeColorBottomUp($color:black){
  height: 49%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, $color 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,$color 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,$color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}


/*
* Blur anything on the target
*/
@mixin blur($val:5px){
  -webkit-filter: blur($val);
  -moz-filter: blur($val);
  -o-filter: blur($val);
  -ms-filter: blur($val);
  filter: blur($val);
}





