.who{
  background: $bg-alt;
  position: relative;
  overflow: hidden;

  &:before{
    content: '';
	background: url('/images/sunset.jpg') no-repeat center center black;
	//background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	@include blur(20px);
  }

  &:after{
	content: '';
	@include fadeColorTopDown(black);
  }

  &__bioContainer{
	p{
	  text-indent: 5%;
	}
  }


  .page__inner{
    h2{
      //-webkit-animation: backgroundZoom 120s infinite ease-in-out;
	  //-webkit-animation: zoomFromZero 30s 1 ease-in-out;

	}

	p{
	  @include col(6);
	  @include col_ctr(6);
	  opacity: 0.6;

	  @include break(sm){
		@include col(11);
		@include col_ctr(11);
		line-height: 1.4;
		text-align: left;
		font-size: 18px;
	  }
	}
  }
}