.who{
  background: $bg-alt;
  position: relative;
  overflow: hidden;

  &:before{
    content: '';
	background: url('/images/sunset.jpg') no-repeat center center black;
	//background-attachment: fixed;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
  }

  &:after{
	content:'';
	height: 300px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
  }

  .page__inner{
	h2,
	p{
	  color: $text-primary-alt;
	  position: relative;
	  z-index :2;
	}

    h2{
      text-align: center;
      font-size: 57px;
      font-weight: 100;
      line-height: 1.6;
      -webkit-animation: backgroundZoom 120s infinite ease-in-out;
	  margin-bottom: 36px;
    }

	p{
	  font-size: 21px;
	  line-height: 1.6;
	  @include col(6);
	  @include col_ctr(6);
	  text-align: justify;
	  font-weight: 200;
	  opacity: 0.6;
	}
  }
}