<div class="page who" id="#who">
    <a name="who"></a>
    <div class="page__inner">
        <h2>Who am I?</h2>
        <div class="who__bioContainer">{{{bio}}}</div>
        <div class="who__linkContainer">
            <ul>
                <li><a target="_blank" href="https://www.linkedin.com/in/gedneyadam" title="">LinkedIn</a></li>
                <li><a target="_blank" href="https://s3.amazonaws.com/adamgedney.com/resume/adamGedney__resume.pdf" title="">Resume</a></li>
            </ul>
        </div>
    </div>
</div>