<div class="page tools">
    <a name="tools"></a>
    <div class="page__inner">
        <h2>What Tools Do I Use?</h2>
        <div class="tools__container">
            {{#each toolLogos as |tool index|}}
                <img data-index="{{index}}" src="{{tool.path}}" alt="{{tool.alt}}" title="{{tool.alt}}"/>
            {{/each}}
        </div>
    </div>
</div>